@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Work Sans', sans-serif;
  font-weight: regular;
  color: var(--light-grey);
}

.portfolio-container {
  width: 1134px;
  max-width: 100%;
  margin: 0px auto;
  padding: 1.5em;
}

.hero {
  height: 860px;
  display: grid;
  grid-template-columns: repeat(12,minmax(10px,1fr));
  grid-column-gap: 12px;
}

.hero--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 1 / span 5;
  padding: 100px 0;
}

.hero--bio {
  grid-column: 7 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  color: var(--dark-grey);
  margin-bottom: .785em;
  position: relative;
}

h1::before {
  content: "";
  width: 100px;
  height: 4px;
  position: absolute;
  background: #333;
  left: -135px;
  top: 30px; 
}

h3 {
  font-size: 2.2rem;
}

.basic-info {
  font-size: 1.5rem;
  line-height: 155%;
  padding-block: 2em;
}


.Aboutme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5em;
  gap: 4em;
}

.project-thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: .2s ease;
  transition-property: all;
  transition-property: transform;
}

.project-thumbnail:hover {
  transform: scale(1.03);
}

.project-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title{
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
 
 
}
.hobbies-head
{
    font-size: 1.4rem;
    color: black;
    font-weight: bold;
    margin-left: 9rem;  
   
  }

.project-description {
  padding-block: 2em;
  line-height: 145%;
  max-width: 40ch;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

footer > p:hover {
  color: var(--accent);
}

ul{
   display: flex;
  
   padding: 20px 0;
}
li{
    text-decoration: none;
    list-style: none;
}
li img{
    width: 100px;
    padding: 0 20px;
    border-radius: 50%;
}

table td{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px 20px;
}


.input-container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin: 1.5rem 0;
  }
  .input-container--1 .input:-moz-placeholder-shown ~ label, .input-container--4 .input:-moz-placeholder-shown ~ label {
    transform: translateY(0);
    font-size: 1rem;
  }
  .input-container--1 .input:-ms-input-placeholder ~ label, .input-container--4 .input:-ms-input-placeholder ~ label {
    transform: translateY(0);
    font-size: 1rem;
  }
  .input-container--1 .input:placeholder-shown ~ label, .input-container--4 .input:placeholder-shown ~ label {
    transform: translateY(0);
    font-size: 1rem;
  }
  .input-container--1 .input:focus ~ label, .input-container--4 .input:focus ~ label {
    transform: translateY(-1rem);
    font-size: 10px;
  }
  form{
    padding: 0 300px;
   padding-top: 5rem;
  }
  form h2{
    text-align: center;
  }
  .input {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 1px solid #9f9f9f;
    font-size: 1rem;
    transition: border-color 0.4s ease-out;
    box-shadow: none;
    text-decoration: none;
  }
  .input:focus {
    outline: none;
    border-color: #353535;
  }
  .input[required] {
    border-color: #000000;
  }
  .input[required] ~ label::before {
    right: 1.45rem;
  }
  .input[required] ~ label::after {
    position: relative;
    content: " *";
  }
  .input[required]:-moz-placeholder-shown {
    border-color: #9f9f9f;
  }
  .input[required]:-ms-input-placeholder {
    border-color: #9f9f9f;
  }
  .input[required]:placeholder-shown {
    border-color: #9f9f9f;
  }
  
  .label {
    position: absolute;
    top: 0;
    transform: translateY(-1rem);
    font-size: 10px;
    padding: 0.5rem 1rem;
    color: #353535;
    transition: transform 0.4s ease-out, font-size 0.4s ease-out;
    border: 1px solid transparent;
  }
  .label .label-text {
    position: relative;
  }
  .label::before {
    content: "";
    position: absolute;
    top: 0.75rem;
    left: 1rem;
    right: 1rem;
    bottom: 0.5rem;
    inset: 0.75rem 1rem 0.5rem;
    background: #fff;
    z-index: 0;
  }
  .submit {
    padding: 10px 222px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
    background-color: transparent;
    transition-duration: 0.6s;
    color: #000000;
}
.submit:hover{
    background-color: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    color: #000000;
}
.submit:hover a{
    color: #ffffff;
}